/* the styles for the elements */
html {
	background-color: white;
}
body {
	font-family: "Times New Roman", Times, serif;
    width: 98%;
    margin: 0 auto;
    padding: 0;
    background-color: #E3DEED;
    border: 3px solid #000000; 
}

/* the styles for the header */
header {
    background-image: linear-gradient(to bottom, #E0D6F5 0%, #A39CC9 100%);
    padding: 15px 30px; 
    height: 70px;
    border: 1.5px solid #000000; 
    border-bottom: 3px solid #000000; 
} 
header img {
    float: right;
    border: 2px solid #2B194D;
}
header .rotate {                            /* the styles for the header img transform */
    animation: rotation 8s normal linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
header h2 {
	font-size: 200%;
	color: #000000;
	text-indent: 45px;
    text-align: center;
    margin-bottom: .3em;
}

/* the styles for the navigation menu */
#nav_menu {
	clear: left;
    border-bottom: 2px solid #E3DEED;
}
#nav_menu ul {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;	
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 25%;
}
#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #A39CC9;
    font-weight: bold;
    font-size: 17px;
    border: 1.5px solid #000000;
    color: #000000;
}
#nav_menu a.current {
    color: #4105b8;
}
#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
}

/* the styles for the main content */
main {
    font-size: 100%; 
    width: 95%;
	float: center;
	padding: 0 25px 0 25px;
}

/* the styles for the section */
section {
	width: 39%;
	float: right;
	padding: 0 20px 20px;
}
section h1 {
	color: #000000;
	font-size: 180%;
	padding-top: 3.5em;
    padding-bottom: 2em;
	margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 220%;
}
section p {
	padding-bottom: .5em;
}

/* the styles for the article */
article {
	padding: .5em 0;
}
article h2 {
	font-size: 150%;
	padding: 0 0 .25em 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 170%;
}
article img {
    width: 55%;
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 49%;
	float: right;
	padding-left: 20px;
}

/* the styles for the footer */
footer { 
	clear: both;
	padding: 15px 30px;
    background-image: linear-gradient(to bottom, #E0D6F5 0%, #A39CC9 100%);
    border: 1.5px solid #000000; 
    border-top: 3px solid #000000; 
} 
footer p {
	text-align: right;
    font-size: 100%;
    color: #000000; 
}

/* the styles for the RWD */
#mobile_menu {
	display: none;
}
@media only screen and (max-width: 900px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}
}
@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
    .slicknav_menu {
        background: #A39CC9 !important;
	    padding: 3px !important;
    }
    #mobile_menu {
		display: block;
	}
    #mobile_menu ul {
        background-color: #A39CC9;
    }
    #mobile_menu a {
        background-color: #A39CC9;
    }
    #mobile_menu a:hover, #mobile_menu a:focus {
        color: #E0D6F5;
    }
	header h2 {
		font-size: 200%;
	}
    main {
        float: none;
        width: 93.3334%;
    }
}
@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
    section p {
	    font-size: 95%;
    }
}